@model IEnumerable<Turtle>
    <style>
        table{
            background-image: url("../css/Images/depositphotos_153559098-stock-photo-newly-hatched-baby-turtle-toward.jpg");
            height: 100%;
            width : 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
<div>
     <h2>Turtles</h2>
    <h3>Here is a list of all turtles so far in this informational! Click on one to learn about it!</h3>
</div>
<div>
    <table class="table">
        <tr>
            <th>Name of Turtles!</th>
        </tr>

        @foreach (var turtle in Model)
        {
            <tr>
                <td><a href=/Turtle/ViewByTurtleID/@turtle.TurtleID>@turtle.Name</a></td>
            </tr>
        }

    </table>
</div>
